.add-task-modal {
    margin-left: 39%;
    width: 130%;
    height: 60vh;
    animation: slideDown 0.5s ease-out forwards;
    /* Animation applied here */
    transform: translateY(-100%);

}

/* Slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        /* Starts off-screen */
    }

    100% {
        transform: translateY(0);
        /* Ends in normal position */
    }
}

#add-task-input {
    padding: 5px;
    border-radius: 5px;
}

.task-category-div select {
    margin-top: 24px;
    border: 1px solid black;
}

#add-task-input {
    border: 1px solid black;
}

#task-date {
    border: 1px solid black;
}

#save-cancel-task {
    position: absolute;
    bottom: 15px;
}

.side-menu-xp-bar {
    position: fixed;
    top: 11px;
    left: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.task-progress {
    position: absolute;
    top: 45%;
    left: 30%;
}

.drawer-container {
    z-index: 1000;
    position: fixed;
}