.add-task-modal {
    width: 100%;
    /* border: 1px solid red; */
    /* margin-left: 15px; */
    height: 60vh;

}

#add-task-input {
    padding: 5px;
    border-radius: 5px;
}

.task-category-div select {
    margin-top: 24px;
    border: 1px solid black;
}

#add-task-input {
    border: 1px solid black;
}

#task-date {
    border: 1px solid black;
}

#save-cancel-task{
    position: absolute;
    bottom: 15px;
}