.add-task-modal {
    margin-left: 20%;
    width: 121%;
    height: 45vh;
    animation: slideDown 0.5s ease-out forwards;
    /* Animation applied here */
    transform: translateY(-100%);

}

/* Slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        /* Starts off-screen */
    }

    100% {
        transform: translateY(0);
        /* Ends in normal position */
    }
}

#add-task-input {
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid teal;
    width: 90%;
}

.task-category-div select {
    margin-top: 15px;
    border: 1px solid black;
    width: 29%;
    border-radius: 3px;
    padding: 1px;
}

.task-category-div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


#add-task-input {
    /* border: 1px solid black; */
}

#task-date {
    border: 1px solid black;
}

#save-cancel-task {
    position: absolute;
    bottom: 15px;
}

.side-menu-xp-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    border-radius: 2px;
}

.task-progress {
    position: absolute;
    top: 45%;
    left: 30%;
}

.drawer-container {
    z-index: 1000;
    /* position: fixed; */
}

.logout-btn {
    width: 81%;
    position: fixed;
    bottom: 7%;
    color: whitesmoke;
}



.selected-menu {
    background-color: rgba(0, 128, 128, 0.695);
    border-radius: 5px;
    color: whitesmoke !important;
}

/* MEDIA QUEIRES */
@media (min-width:769px) {
    .xp-bar {
        position: fixed;
        right: 3px;
        top: 3px;
    }

    .drawer {
        /* margin-top: -5%; */
        width: fit-content;
    }

    .add-task-modal {
        position: absolute;
    }



}