.dashboard-div {
    margin-top: 13%;
}

.cards-div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 80vh;
}

.selected-stat {
    background: teal;
    color: whitesmoke;
    transition: background-color 0.7s ease, color 0.7s ease;
    border-radius: 5px;
}


/* MEDIA QUERIES */

@media (min-width:769px) {
    .dashboard-div {
        margin-top: 0%;
    }

    .menu{
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .cards-div {
        flex-direction: row;
        width: 75%;
        margin: auto;
        /* margin-left: 25%; */
    }
    
}