.user-details {
    position: fixed;
    top: 0px;
    right: 7px;
}

.user-profile-modal {
    width: 90%;
}

.xps {
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    /* width: 33%; */
    color: orangered;
}

.points {
    font-weight: 900;
    font-size: 21px;
    /* border: 1px solid red; */
}

.right-profile {
    width: 45%;
}

.info-xp:hover {
    content: "hello";
}

.hover-text-xp {
    font-size: 16px;
    color: #333;
    position: absolute;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    right: 100%;
    top: 33%;
    background: white;
    width: max-content;
}

.hover-text-tasks {
    font-size: 16px;
    color: #333;
    position: absolute;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    right: 100%;
    top: 89%;
    background: white;
    width: max-content;
}